<nav class="navbar navbar-expand-md navbar-dark bg-mm fixed-top">
  <a href="#" class="navbar-brand">
    <i class="fas fa-hand-holding-usd"></i> Money Manager
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu"
    aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarMenu">
    <div class="navbar-nav ml-auto">
      <a href="#" class="nav-link">
        <i class="fas fa-grin"></i> User Name
      </a>
      <a href="#" class="nav-link active">
        <i class="fas fa-home"></i> Home
      </a>
      <a href="#" class="nav-link active">Daily</a>
      <a href="#" class="nav-link active">Weekly</a>
      <a href="#" class="nav-link active">Monthly</a>
      <a href="#" class="nav-link active">Annual</a>
      <a href="#" class="nav-link active">
        <i class="fas fa-cog"></i> Settings
      </a>
      <a href="#" class="nav-link active">
        <i class="fas fa-sign-out-alt"></i> Logout
      </a>
    </div>
  </div>
</nav>