<div class="container">
  <div class="row d-flex align-items-center text-dark">
    <div class="col-lg-8">
      <canvas baseChart 
        [labels]="chartConfig.chartLabels" 
        [chartType]="chartConfig.chartType" 
        [colors]="chartConfig.chartColors" 
        [options]="chartConfig.chartOptions">
      </canvas>
    </div>
    
    <div class="col-lg-4">
      <table class="table">
        <thead>
          <tr class="bg-light">
            <th scope="col">Date</th>
            <th scope="col">Description</th>
            <th scope="col" class="text-right">Value</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let transaction of transactions | async">
            <td>
              {{transaction.date.toMillis() | date:'dd/MM/yy'}}
            </td>
            <td class="text-capitalize">
              {{transaction.subcategory}}
            </td>
              <td class="text-danger text-right" 
                  [class.text-primary]="transaction.type === 'income'"
                  [class.text-danger]="transaction.type === 'expense'">
                {{transaction.value | currency}}
              </td>
          </tr>
          <tr class="bg-light font-weight-bold">
            <td></td>
            <td></td>
            <td class="text-right">{{overall | currency}}</td>
          </tr>
        </tbody>
      </table>

      <div class="d-flex flex-row-reverse">
        <button type="button" class="btn btn-danger">Add Expense</button>
        <button type="button" class="btn btn-primary mr-2">Add Income</button>
      </div>
    </div>
  </div>
</div>