<div class="container">
  <div class="row justify-content-md-center pt-3 text-dark">
    <div class="col-lg-8">
      <div>
        <canvas baseChart 
          [chartType]="'doughnut'" 
          [colors]="[{ backgroundColor: ['#ff4444', '#4285F4'] }]" 
          [options]="{ legend: { position: 'bottom', reverse: true } }">
        </canvas>
      </div>
    </div>
    <div class="col-lg-4">
      <table class="table">
        <thead>
          <tr class="bg-light">
            <th scope="col">Date</th>
            <th scope="col">Description</th>
            <th scope="col" class="text-right">Value</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let transaction of transactions | async">
            <td>{{transaction.date.toMillis() | date:'dd/MM/yy'}}</td>
            <td class="text-capitalize">{{transaction.subcategory}}</td>
            <td class="text-primary text-right" *ngIf="transaction.type === 'income'; else isExpense">{{transaction.value
              | currency}}</td>
            <ng-template #isExpense>
              <td class="text-danger text-right">{{transaction.value | currency}}</td>
            </ng-template>
          </tr>
          <tr class="bg-light font-weight-bold">
            <td>Overall</td>
            <td></td>
            <td class="text-right">{{overall | currency}}</td>
          </tr>
        </tbody>
      </table>

      <div class="d-flex flex-row-reverse">
        <button type="button" class="btn btn-danger">Add Expense</button>
        <button type="button" class="btn btn-primary mr-2">Add Income</button>
      </div>
    </div>
  </div>
</div>